@font-face {
	font-family: Molot;
	src: url('Molot-webfont.ttf'), url('Molot-webfont.eot'), url('Molot-webfont.svg');
}

@font-face {
	font-family: Silkscreen;
	src: url('slkscrb-webfont.ttf'), url('slkscrb-webfont.eot'), url('slkscrb-webfont.svg');
}

* {
	margin: 0;
	padding: 0;
}

img {
	border-style: none;
}

a {
	outline: none;
}

a:link {color:rgb(240,90,36); text-decoration:none;}      /* unvisited link */
a:visited {color:rgb(240,90,36); text-decoration:none;}  /* visited link */

a:hover {color:rgb(246,146,30); text-decoration:none;}  /* mouse over link */
a:active {color:rgb(246,146,30); text-decoration:none;}  /* selected link */

a.orange:link {color:rgb(246,146,30); text-decoration:none;}      /* unvisited link */
a.orange:visited {color:rgb(246,146,30); text-decoration:none;}  /* visited link */


body {
	font-family: Molot, sans-serif;
	background-image:url('rotate/rotate.php');
}

#wrapper {
	width: 960px;
	margin-left:auto;
	margin-right:auto;
}

#header {
	width: 523px;
	position: relative;
	margin-top: 10px;
	margin-bottom: -18px;
	z-index: 101;
}

#nav {
	position: absolute;
	top: 15px;
	left: 20px;
	font-size: 28px;
	text-align: left;
	line-height: 28px;
}

#socialLinks {
	position: absolute;
	bottom: 5px;
	left: 20px;
	z-index: 101;
}

#blog {
	position: relative;
	background: white;
	width: 940px;
	height: 540px;
	padding: 20px 12px 20px;
	-webkit-box-shadow: 0px 0px 15px 0px #0013C1; /* Safari */
	box-shadow: 0px 0px 15px 0px #0013C1;
	
	border-style:solid;
	border-color:rgb(225,245,255);
	border-left-width: 8px;
	border-right-width: 8px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	-moz-border-image:url(images/border.png) 8 8 repeat; /* Firefox */
	-webkit-border-image:url(images/border.png) 8 8 repeat; /* Safari and Chrome */
	-o-border-image:url(images/border.png) 8 8 repeat; /* Opera */
	border-image:url(images/border.png) 8 8 repeat;
}

#banner {
	position: relative;
	background: white;
	padding: 20px 12px 0px;
	-webkit-box-shadow: 0px 0px 15px 0px #0013C1; /* Safari */
	box-shadow: 0px 0px 15px 0px #0013C1;
	width: 920px;
	height: 540px;
	border-style:solid;
	border-color:rgb(225,245,255);
	border-left-width: 8px;
	border-right-width: 8px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	-moz-border-image:url(images/border.png) 8 8 repeat; /* Firefox */
	-webkit-border-image:url(images/border.png) 8 8 repeat; /* Safari and Chrome */
	-o-border-image:url(images/border.png) 8 8 repeat; /* Opera */
	border-image:url(images/border.png) 8 8 repeat;
}

#featHeader {
	position:absolute;
	left:40px;
	bottom:20px;
	font-size: 48px;
	line-height: 43px;
	color: white;
}

#gamesSpan {
	color:rgb(246,146,30);
}

#getText {
	position:absolute;
	right:20px;
	bottom:0px;
}

.featGame {
	background: white;
	height: 300px;
	position: relative;
	padding: 10px 2px 10px 12px;
	margin-bottom: 20px;
	border-style:solid;	
	border-color:rgb(225,245,255);
	border-left-width: 8px;
	border-right-width: 8px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	-moz-border-image:url(images/border.png) 8 8 repeat; /* Firefox */
	-webkit-border-image:url(images/border.png) 8 8 repeat; /* Safari and Chrome */
	-o-border-image:url(images/border.png) 8 8 repeat; /* Opera */
	border-image:url(images/border.png) 8 8 repeat;
}


.featGameShadow {
	height: 320px;
	width: 960px;
	position: relative;
	left: -20px;
	top: -10px;
	z-index: -1;
	-webkit-box-shadow: 0px 0px 15px 0px #0013C1; /* Safari */
	box-shadow: 0px 0px 15px 0px #0013C1;
}

.featTitle {
	position: absolute;
	z-index:100;
	top: 20px;
	left: 40px;
	font-size: 36px;
}

.info {
	font-family:Silkscreen, monospace;
	font-size: 18px;
	color: rgb(246,146,30);
}

div.panel {
	display: none;
	width: 380px;
	position: absolute;
/*	background-color:rgba(0,0,0,0.5); */
	background-color: rgb(240,90,36);
	z-index:101;
	left: 40px;
	top: 60px;
	font-family:Silkscreen, monospace;
}

.white {
	color: white;
}

.orange {
	color: rgb(246,146,30);
}

.picsFloat {
	float: left;
}

.pics {
	z-index: 0;
}


.video {
	float: left;
	padding: 0px 10px 0px;
}

.sourcemore {
	float: left;
	color: rgb(175,175,175);
}

.soon, .free {
	float: left;
	font-family:Silkscreen, monospace;
	color: rgb(41,170,225);
	margin-bottom: 5px;
}

.downloadicon {
	float: left;
	margin-bottom: 5px;
}

.blueicon {
	display: none;
}

#shortHeader {
	position: relative;
	z-index: 101;
}

#shortText {
	position: absolute;
	bottom: 0px;
	left: 20px;
	font-size: 48px;
	line-height: 40px;
	color: rgb(240,90,36);
}

#shortSpan {
	color:rgb(246,146,30);
}

.shortGame {
	position: relative;
	background: white;
	height: 300px;
	width: 440px;
	float: left;
	padding: 10px;
	margin-bottom: 20px;
	border-style:solid;
	border-color:rgb(225,245,255);
	border-left-width: 8px;
	border-right-width: 8px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	-moz-border-image:url(images/border.png) 8 8 repeat; /* Firefox */
	-webkit-border-image:url(images/border.png) 8 8 repeat; /* Safari and Chrome */
	-o-border-image:url(images/border.png) 8 8 repeat; /* Opera */
	border-image:url(images/border.png) 8 8 repeat;
	
	-webkit-box-shadow: 0px 0px 15px 0px #0013C1; /* Safari */
	box-shadow: 0px 0px 15px 0px #0013C1;
}

.shortpics {
	float: left;
	margin-right: 10px;
}

.sgleft {
	border-right-width: 0px;
	padding-left: 12px;
}

.sgright {
	border-left-width: 0px;
	padding-right: 12px;
	margin-left: 20px;
}

.shortGame .panel {
	width: 320px;
}
