@font-face {
	font-family: Molot;
	src: url('Molot-webfont.ttf'), url('Molot-webfont.eot'), url('Molot-webfont.svg');
}

@font-face {
	font-family: Silkscreen;
	src: url('slkscrb-webfont.ttf'), url('slkscrb-webfont.eot'), url('slkscrb-webfont.svg');
}

* {
	margin: 0;
	padding: 0;
}

img {
	border-style: none;
}

a {
	outline: none;
}

a:link {color:rgb(240,90,36); text-decoration:none;}      /* unvisited link */
a:visited {color:rgb(240,90,36); text-decoration:none;}  /* visited link */

a:hover {color:rgb(246,146,30); text-decoration:none;}  /* mouse over link */
a:active {color:rgb(246,146,30); text-decoration:none;}  /* selected link */

a.orange:link {color:rgb(246,146,30); text-decoration:none;}      /* unvisited link */
a.orange:visited {color:rgb(246,146,30); text-decoration:none;}  /* visited link */


body {
	font-family: Molot, sans-serif;
	background-image:url('rotate/rotate.php');
}

#wrapper {
	width: 100%;
	max-width: 424px;

	margin-left:auto;
	margin-right:auto;
}

#header {
	width: 100%;
	max-width: 424px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 0px;
	z-index: 101;
}

#nav {
	position: absolute;
	bottom: 30px;
	left: 10px;
	font-size: 21px;
	text-align: left;
	line-height: 18px;
}

#socialLinks {
	position: absolute;
	bottom: 0px;
	left: 10px;
	z-index: 101;
}

#socialLinks img {
	height: 20px;
}

#title img {
	width: 100%;
}

#blog {
	position: relative;
	background: white;
	width: 100%;
	height: 540px;
	padding: 20px 12px 20px;
	-webkit-box-shadow: 0px 0px 15px 0px #0013C1; /* Safari */
	box-shadow: 0px 0px 15px 0px #0013C1;
	
	border-style:solid;
	border-color:rgb(225,245,255);
	border-left-width: 8px;
	border-right-width: 8px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	-moz-border-image:url(images/border.png) 8 8 repeat; /* Firefox */
	-webkit-border-image:url(images/border.png) 8 8 repeat; /* Safari and Chrome */
	-o-border-image:url(images/border.png) 8 8 repeat; /* Opera */
	border-image:url(images/border.png) 8 8 repeat;
}

#banner {
	position: relative;
	background: white;
	width: 420px;
	height: 240px;
	padding: 2px;
	padding-top: 15px;
	margin-top: -15px;
}

#banner img {
	width: 100%;
}

#featHeader {
	position:absolute;
	left:10px;
	bottom:10px;
	font-size: 28px;
	line-height: 24px;
	color: white;
}

#gamesSpan {
	color:rgb(246,146,30);
}

#getText {
	display:none;
	width:10%;
	position:absolute;
	right:0px;
	bottom:0px;
}

.featGame {
	background: white;
	width: 420px;
	overflow: hidden;
	position: relative;
	padding: 2px;
	margin-bottom: 10px;
	margin-right:auto;
	margin-left:auto;

}



.featTitle {
	position: absolute;
	z-index:100;
	top: 10px;
	left: 10px;
	font-size: 24px;
}

.info {
	font-family:Silkscreen, monospace;
	font-size: 16px;
	color: rgb(246,146,30);
}

div.panel {
	display: none;
	width: 90%;
	position: absolute;
	background-color: rgb(240,90,36);
	z-index:101;
	left: 10px;
	top: 35px;
	font-size: 16px;
	font-family:Silkscreen, monospace;
}

.white {
	color: white;
}

.orange {
	color: rgb(246,146,30);
}

#slidenav {
	position: relative;
	bottom: 20px;
	left: 10px;
}


.video {
	display:none;
	float: left;
	padding: 0px 10px 0px;
}

#shortHeader {
	position: relative;
	z-index: 101;
}


#shortText {
	position: absolute;
	bottom: 0px;
	left: 10px;
	font-size: 24px;
	line-height: 20px;
	color: rgb(240,90,36);
}

#shortSpan {
	color:rgb(246,146,30);
}

#shortHeader img {
	width:100px;
}

.shortGame {
	width: 420px;
	position: relative;
	overflow: hidden;
	background: white;
	padding: 2px;
		margin-bottom: 10px;

}



.shortGame .panel {
	width: 90%;
}

.featGame img {
	width: 100%;
}

.shortpics {
	width: 100%;
}

.shortGame img {
	width: 100%;
}

.pics {
	width: 100%;
	max-width: 420px;
	height: 300px;
	z-index: 0;
}

.picsFloat {
	width: 100%;
}

.sourcemore {
	float: left;
	color: rgb(175,175,175);
}

.soon, .free {
	float: left;
	font-family:Silkscreen, monospace;
	color: rgb(41,170,225);
	margin-right: 5px;
	margin-top:5px;
}

.downloads {
	height:30px;
	position: relative;
	z-index: 102;
	background-color: white;
}

.downloadicon {
	width: 60px;
	float: left;
}

.downloadicon img {
	width: 60px;
}

.blueicon {
	display: none;
}